body {
  color: white;
  background-color: darkslategrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 100%;
}

a:link {
  color: lightyellow;
}
a:visited {
  color: lightgrey;
}
a:hover {
  color: yellow;
}
a:active {
  color: chartreuse;
}

.nav {
  font-size: 0.8em;
}

samp {
  color: lavender;
  font-family: "Courier New", monospace;
}

code {
  color: gold;
  font-family: "Courier New", monospace;
}
